.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imagecontainer {
  position: relative;
  width: 10%;
  max-width: 300px;
  cursor: pointer;
  display: flex;
}

.image {
  display: block;
  width: 100%;
  cursor: pointer;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(248, 241, 241);
  background: rgba(247, 235, 235, 0.5); /* Black see-through */
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1; 
  width: 23%;
  transition: .5s ease;
  opacity:0;
  font-weight: 500;
  color: rgb(17, 87, 236);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.imagecontainer:hover .overlay {
  opacity: 1;
}